body{
    margin: 0; 
    font-family: 'Times New Roman', Times, serif; 
}

header{
    width: 100%;
    background-color: rgb(55, 164, 200);
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-size: 230px;  
}

.logo{
    width: 10%;
    padding-top: 20px;
    padding-left: 170px;
}

.mainContainer{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    
}

h1{
    margin-bottom: 5px;
}

.sottotitolo{
    color: rgb(130, 127, 127);
}

#colored{
    color: cadetblue;
    font-weight: 800;
}

.block{
    display: block;
    font-size: 10px;
    margin-bottom: 20px;
}

.imgPrincipale{
    margin-bottom: 5px;
}

.didascalia{
    font-size: 12px;
    margin: 0;
}

p{
    text-align: justify;
}


ul{
    padding-left: 12px;
}

table{
    margin-top: 30px;
    margin-bottom: 30px;
}

th{
    background-color: rgb(69, 140, 178);
    width: 25%;
    text-align: left;
}

.customTh{
    width: 50%;
}

.customColor{
    background-color: lightblue;
}



.sottotitoloDue{
    color: gray;
}

.customSection{
    margin-bottom: 30px;
}

.divImg{
    background-image: url("../img/monitor.jpg");
    background-position: center;
    width: 250px;
    height: 200px;
    margin-top: 5px;
}

h3{
    color: white;
    padding-left: 10px;
    line-height: 40px;
}